body {
    background-color: #333232;
}

#container {
    background-color: #0E2431;
    border: 5px solid #F5E4C3;
    height: 275px;
    width: 750px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

#btn {
    margin: 10px auto;
    height: 50px;
    width: 300px;
    font-size: 22px;
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:10px;
}

#btn:active {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;

}
#output {
    margin: 25px auto;
    font-size: 26px;
    color: white;
}
